<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
    <h1>{{ title }} Weather</h1>
    <p>{{ today }}</p>
    <p>{{ status }} and {{ temp }} °C</p>
    <p>Feels like {{ feels_like }} °C</p>
    <p>Wind speed {{ wind_speed }} m/s</p>
    <p>Sunrise {{ sunrise }}</p>
    <p>Sunset {{ sunset }}</p>

    <form action="/weather">
        <input type="text" name="city" id="city" placholder="Enter a city">
        <button type="submit">Submit</button>
    </form>
</body>

</html>